body {
    background-color: #ababb2;
    color: #ababb2;
    margin-top: 7%;
    background-image: url("image/unitproject.jpeg")
}

.bg-steel {
  background-color: #1a1817;
}

.site-header .navbar-nav .nav-link {
  margin-left: auto;
  margin-right: auto;
  color: #ababb2;
  padding: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #0216f2;
}

tr, th, table {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1em;
}

#block_container{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#search_page_container{
  display: flex;
  flex-direction: column;
}
#search_filters{
  display: flex;
  justify-content: center;
  outline: 1px gray solid;
}
/* #test_div{
  width: 800px;
} */

/* #search_form label, #search_form input{
  padding-left: 10px;
  padding-right: 10px;
} */
#search_form{
  width: 90%;
  padding-top: 10px;
}
#search_form label, #search_form input, #search_form select{
  height: 34px;
}
#search_form label{
  font-size: 1em;
}
