{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} added bootstrap {% endcomment %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block title %}
    <title>Tireapalooza LLC.</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar%}
    <nav id="navbar">
      {% if request.path != "/" %}
      <a href="{% url 'home' %}">Home Page</a>
      {% endif %}
      <!-- prettier-ignore -->
      {% if request.path != "/add_tire_form/" %}
      <a href="{% url 'add_tire_form' %}">Add Tire</a>
      {% endif %}
      <!-- prettier-ignore -->
      {% if not user.is_authenticated %}
      <a href="{% url 'register' %}">Employee Registration</a>
      {% endif %}
      <!-- prettier-ignore -->
      {% endblock %}
      <!-- prettier-ignore -->
      {% block content %}
      {% endblock content %}
    </nav>
  </body>
</html>
