{% extends 'base.html' %}
{% block content %}
<form action="{% url 'home' %}" method="POST">
  {% csrf_token %}
  <label>Size:</label>
  <input name="size" type="text" required="False" value="None" />
  <label class="ml-2">Brands:</label>
  <select name="brand" id="brand">
    <option value="None">No Filter</option>
    {% for each in brands %}
    <option value="{{ each }}">{{ each }}</option>
    {% endfor %}
  </select>
  <label>Lines:</label>
  <select name="line" id="line">
    <option value="None">No Filter</option>
    {% for each in lines %}
    <option value="{{ each }}">{{ each }}</option>
    {% endfor %}
  </select>
  <label>Tread Patterns:</label>
  <select name="tread_pattern" id="tread_pattern">
    <option value="None">No Filter</option>
    {% for each in tread_patterns %}
    <option value="{{ each }}">{{ each }}</option>
    {% endfor %}
  </select>
  <input class="btn btn-outline-info" type="submit" value="Search" />
</form>
<table>
  <tr>
    <th>Size</th>
    <th>Brand</th>
    <th>Line</th>
    <th>Condition</th>
    <th>Quantity</th>
  </tr>
  {% for tire in tires %}
  <tr>
    <th>
      <a href="{% url 'tire_info' tire.id %}"> {{ tire.size }} </a>
    </th>
    <th>
      <a href="{% url 'tire_info' tire.id %}"> {{ tire.brand }} </a>
    </th>
    <th>
      <a href="{% url 'tire_info' tire.id %}"> {{ tire.line }} </a>
    </th>
    <th>
      <a href="{% url 'tire_info' tire.id%}"> {{tire.get_condition_display}}</a>
    </th>
    <th>
      <a href="{% url 'tire_info' tire.id %}"> {{ tire.quantity }} </a>
    </th>
  </tr>
  {% endfor %} {% if tire_list_len_check %}
  <tr>
    <th>There are currently no tires that meet your specific criteria!</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% endif %}
</table>
{% endblock content %}
</body>

</html>
{% comment %}
<li>
  <a href="{% url 'search_tires' %}">Search current inventory.</a>
</li>
{% endcomment %}