{% extends 'home.html' %} {% block content %}
<table border=1 frame=void rules=columns>
  <tr>
    <th>Employee</th>
    <th>Tire</th>
    <th>Quantity</th>
    <th>Indv Cost</th>
    <th>Total Cost</th>
    <th>Date Sold</th>
  </tr>
  {%for outvoice in outvoices%}

  <tr>
    {% if outvoice.user != "placeholder" %}
    <td>{{outvoice.user}}</td>


    <td>
      {%for tire in outvoice.tires.all%} {{tire}} <br>
      {%endfor%}
    </td>
    <td>
      {%for tire in outvoice.tires.all%} {{tire.order_qty}} <br>
      {%endfor%}
    </td>
    <td>
      {%for tire in outvoice.tires.all%} {{tire.base_price}} <br>
      {%endfor%}
    </td>

    <td>total cost: {{outvoice.total_cost}}</td>
    <td>{{outvoice.date_ordered}}</td>
  </tr>
  {% endif %}
  {%endfor%} {%endblock content%}
</table>